.botao {
  background-color: #ffbd59;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #000000;
  margin: 16px 0;
}

.botao:hover {
  color: #202020;
}
